<div class="container">
  <mat-tab-group animationDuration="0ms" mat-stretch-tabs class="example-large-box mat-elevation-z8">
    <!-- USER TAB -->
    <mat-tab label="USER">

      <div class="container ">
        <div class="row align-items-center text-right">
          <div class="col-lg-5 ">
            <h6>User</h6>
          </div>
          <div class="col-lg-3">
            <h6>{{user.id}}</h6>
          </div>
        </div>
      </div>

      <div class="container ">
        <div class="row align-items-center text-right">
          <div class="col-lg-5  col-responsivity ">
            <h6>Select the activation state</h6>
          </div>
          <div class="col-lg-3">
            <select class="custom-select">
              <option selected>Select</option>
              <option value="1">Active</option>
              <option value="2">Disabled</option>
            </select>
          </div>
        </div>
      </div>

      <div class="container ">
        <div class="row align-items-center text-right">
          <div class="col-lg-5  col-responsivity ">
            <h6>Account type*</h6>
          </div>
          <div class="col-lg-3">
            <select class="custom-select">
              <option selected>Select</option>
              <option value="1">Normal User</option>
              <option value="2">Administrator</option>
              <option value="2">Manager</option>
            </select>
          </div>
        </div>
      </div>

      <div class="container ">
        <div class="row align-items-center text-right">
          <div class="col-lg-5  col-responsivity ">
            <h6>Password</h6>
          </div>
          <div class="col-lg-3">
            <input type="password" class="form-control" aria-label="Small" id="inputPassword2" placeholder="Password">
          </div>
        </div>
      </div>

      <div class="container ">
        <div class="row align-items-center text-right">
          <div class="col-lg-5  col-responsivity ">
            <h6>Confirm Password</h6>
          </div>
          <div class="col-lg-3">
            <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm Password">
          </div>
        </div>
      </div>

      <div class=container>
        <div class="row text-center justify-content-center">
          <div class="col-lg-2">
            <button class="button" class="btn btn-block btn-primary">Save</button>
          </div>
        </div>
      </div>

    </mat-tab>
    <!-- PROJECTS & COLLECT TAB -->
    <mat-tab label="PROJECTS & COLLECT">

      <div class="container ">
        <div class="row align-items-center text-right">
          <div class="col-lg-5  col-responsivity ">
            <h6>Projects Limit *</h6>
          </div>
          <div class="col-lg-3">
            <input type="number" class="form-control" [disabled]="user.unlimited_projects" [value] = user.projects_limit placeholder="Quantity" >
          </div>
          <label class="label-responsivity ">
            <input type="checkbox" id="isCheckBox" (change)="onCheck($event, 'unlimited_projects')" />
            Unlimited
          </label>
        </div>
      </div>

      <div class="container ">
        <div class="row align-items-center text-right">
          <div class="col-lg-5  col-responsivity ">
            <h6>Posts Limit per month*</h6>
          </div>
          <div class="col-lg-3">
            <input type="number" class="form-control" [disabled]="user.unlimited_posts" [value] = user.posts_per_month placeholder="Quantity">
          </div>
          <label class="label-responsivity ">
            <input type="checkbox" id="isCheckBox" (change)="onCheck($event, 'unlimited_posts')" />
            Unlimited
          </label>
        </div>
      </div>

      <div class="container ">
        <div class="row align-items-center text-right">
          <div class="col-lg-5  col-responsivity ">
            <h6>Tracked analytics profiles limit*</h6>
          </div>
          <div class="col-lg-3">
            <input type="number" class="form-control" [disabled]="user.unlimited_analytics" [value] = user.analytics_limit placeholder="Quantity">
          </div>
          <label class="label-responsivity ">
            <input type="checkbox" id="isCheckBox" (change)="onCheck($event, 'unlimited_analytics')" />
            Unlimited
          </label>
        </div>
      </div>

      <div class="container ">
        <div class="row align-items-center text-right">
          <div class="col-lg-5  col-responsivity ">
            <h6>CRM profiles Limit*</h6>
          </div>
          <div class="col-lg-3">
            <input type="number" class="form-control" [disabled]="user.unlimited_CRM" [value] = user.CRM_limit placeholder="Quantity">
          </div>
          <label class="label-responsivity ">
            <input type="checkbox" id="isCheckBox" (change)="onCheck($event, 'unlimited_CRM')" />
            Unlimited
          </label>
        </div>
      </div>

      <div class="container ">
        <div class="row align-items-center text-right">
          <div class="col-lg-5  col-responsivity ">
            <h6>Crawling Quota</h6>
          </div>
          <div class="col-lg-3">
            <input type="number" class="form-control" [disabled]="user.unlimited_crawling" [value] = user.crawling_quota placeholder="Quantity">
          </div>
          <label class="label-responsivity ">
            <input type="checkbox" id="isCheckBox" (change)="onCheck($event, 'unlimited_crawling')" />
            Unlimited
          </label>
        </div>
      </div>

      <div class=container>
        <div class="row text-center justify-content-center">
          <div class="col-lg-2">
            <button class="button" class="btn btn-block btn-primary">Save</button>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- CONSUME TAB -->
    <mat-tab label="CONSUME PER MONTH">

      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12">
            <h6>Montly Use</h6>
            <h6>849 Collects or 58% from package</h6>
            <button class="button" class="btn btn-primary" (click)="openDialog()">Add extra collects</button>
          </div>
        </div>
      </div>

      <input class="form-control search" (keyup)="applyFilter($event.target.value)" placeholder="Find Brand">

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="consumed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Consumed </th>
            <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
          </ng-container>

          <!-- Brand Column -->
          <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
            <td mat-cell *matCellDef="let row"> {{row.brand}} </td>
          </ng-container>

          <!-- Pause Column -->
          <ng-container matColumnDef="pause">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pausar Coleta </th>
            <td mat-cell *matCellDef="let row"> <button type="button" class="btn btn-outline-danger">Pausar</button> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

    </mat-tab>
  </mat-tab-group>
</div>